.chatThreadContainer {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  border: solid 1px rgb(240,240,240);
  border-radius: 5px;
  animation: fade 0.5s forwards;
}

.chatThreadContainer hr {
  width: 90% !important;
  border-bottom: solid 1px rgb(245,245,245) !important;
}

.chatThreadContent {
  padding: 1em;
  padding-top: 0px;
}

.chatThreadContent img {
  width: 3em;
  vertical-align: middle;
}

.chatThreadFlex {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px rgb(240,240,240);
}

.chatThreadLink {
  text-decoration: none;
  color: black;
  padding: 1.1em;
  width: 50%;
  margin: auto;
}

.chatListingLink {
  text-decoration: none;
  color: black;
  padding: 1.1em;
  width: 30%;
  margin: auto;
  text-align: left;
}

.chatThreadFlex:last-child {
  border-bottom: none;
}

.chatThreadUser {
  width: 65%;
  text-align: left;
  padding-left: 1.1em;
}

.chatThreadUser img {
  border-radius: 50%;
}

.chatThreadUser-text {
  display: inline-block;
  line-height: 0;
  padding: 0px 1.1em;
  vertical-align: middle;
}

.chatThreadUser-text p {
  width: 200px;
  white-space: nowrap;
  display: block;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(150,150,150);
}

.chatThreadListing {
  text-align: left;
  width: 40%;
  padding-top: 6px;
}

.chatThreadListing p {
  vertical-align: middle;
  display: inline;
  padding: 0px 1.1em;
}

.messageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50vh);
}

@media (max-width: 800px) {
  .chatThreadContainer {
    width: 100%;
    border: none;
  }

  .chatThreadLink {
    flex-wrap: wrap;
    justify-content: center;
  }

  .chatThreadUser {
    width: 100%;
    padding-left: 0;
  }

  .chatThreadListing {
    width: 100%;
  }

  .chatThreadFlex {
    display: block;
    text-align: left;
  }
}