.loadingContainer {
  height: calc(100vh - 100px);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport-half {
  height: calc(50vh - 100px);
}

.loadingContent {
  display: block;
  margin: auto;
}

.loadingContainer h3 {
  color: #999;
}

.loadingAnimation {
  display: flex;
  justify-content: center;
}