.navOntop {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 4;
}
.navPlaceholder {
  display: block;
  height: 75px;
}
.navButton {
  display: inline;
  float: right;
  color: black;
  font-size: 18px;
  background-color: transparent;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  animation: zoom-out 0.3s;
  text-decoration: none;
  margin: 0px 10px;
}


.navBubble {
  display: inline;
  text-align: right;
  float: right;
  width: 40%;
  max-width: 250px;
  margin-top: -18px;
}

.left {
  margin: 0px 7px;
  border-right: solid 1px rgb(220,220,200);
}

.navBubble p {
  display: inline-block;
  font-size: 16px;
  color: rgb(100,100,100);
  padding: 0px 10px;
  cursor: pointer;
  line-height: 2em;
  transition: all 2s;
}

.navBubble span {
  color: rgb(200,200,200);
  font-weight: 700;
}

.navBubble img {
  display: inline-block;
  height: 40px;
  line-height: 0px;
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: all 2s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.dropdown {
  position: absolute;
  text-align: center;
  list-style: none;
  -webkit-padding-start: 0px;
  border: solid 1px rgb(220,220,220);
  border-top: none;
  padding: 0px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 90px;
  margin-top: 2px;
  background-color: white;
  z-index: -1;
  animation: fadein 0.5s forwards;
}

.dropdown li {
  list-style: none;
  padding: 5px 0px;
}
.dropdownLink {

  color: rgb(120,120,120);
  text-decoration: none;
}
#navButton:hover,
#navButton:focus {
  border-bottom: solid 2px black;
  animation: zoom-in 0.3s;
}

#navLogo {
/*  font-size: 20px;
  border: solid 4px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 4px 10px;
  text-decoration: none;
} BLACK LOGO */

  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  background: #ff9966;
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966); 
  background: linear-gradient(to left, #ff5e62, #ff9966); 
}

.navContainer {
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  border-bottom: solid 1px rgb(230,230,230);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.navContent {
  width: 75%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

@media (max-width: 800px) {
  .navBubble img {
    width: 30px;
    height: 30px;
  }
  .navBubble p {
    padding: 5px;
    font-size: 14px;
  }
}


@media (max-device-height: 800px) {
  #navLogo {
    font-size: 14px;
    border: transparent 0px;
  }
  #navLogo:hover,
  #navLogo:focus {
    background-color: black;
    color: white;
  }
  .navButton {
    font-size: 14px;
    margin-top: 3px;
  }
  .navContent {
    width: 87%;
  }
  .navPlaceholder {
    height: 80px;
  }
}