.profileContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  animation: fade .5s forwards;
}

.profileBubble {
  display: inline;
  width: 30px;
  padding: 15px 25px;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.1);
}

.profilePictureBubble {
  border-radius: 50%;
  width: 85px;
  cursor: pointer;
}

.profilePictureBubble:hover {
  opacity: 0.8;
}
.edit {
  cursor: pointer;
}
.profileBubble.edit:hover {
  opacity: 0.5;
}

.profileBubble.small {
  width: 15px;
  font-size: 21px;
  font-weight: 300;
  padding: 7px 14px;
}

.picCropper {
  height: 300px; 
  width: 300px;
  margin: auto;
  animation: fade 1s forwards
}
.center {
  margin: 0 auto;
}

.profileContainer hr {
  width: 30%;
  margin-top: 20px;
  border: solid 1px rgb(230,230,230);
  border-top: 0px;
}

.cardContainer {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;

}
.card {
  width: 80%;
  margin: auto; 
  padding: 0% 3% ;
  height: 350px;
  border-radius: 5px;
  border: solid 1px rgb(230,230,230);
}

.card hr{
  border: solid 1px rgb(230, 230, 230);
  border-top: 0px;
  width: 90%;
}

