.searchBarContainer {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  position: sticky;
  
  form {
    display: flex;
    justify-content: flex-start;
    margin: auto;

  }

   input {
    width: 90%;
    height: 50px;
    color: #777;
    padding: 0% 30px;
    font-size: 24px;
    outline: none;
    -webkit-appearance: none;
    border: solid 1px #EEE;
  }

  button {    
    background-color: white;
    color: #F29B70;
    font-size: 22px;
    border: solid 1px #EEE;
    padding: 0px 15px;
    border-left: none;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #F29B70;
      color: white;
    }
  }
}

@media (max-width: 800px) {
  .searchBarContainer {
    input {
      font-size: 16px;
    }
  }
}