
.signupContainer {
  display: flex;
  justify-content: center;
}
.signupForm input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: none;
  border-bottom: solid 2px rgb(220,220,220);
  font-size: 16px;
  padding: 2px 5px;
}

/*
.signupContent {
  border: solid red;

}

.signupContent label {
  color: rgb(150,150,150);
}

.signupContent input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: none;
  border-bottom: solid 2px rgb(220,220,220);
  font-size: 16px;
  padding: 2px 5px;
}

.signupContent input:focus,
.signupContent button:focus {
  outline:none;
}

.signupForm {
  border: solid 1px yellow;
}*/