@import url('https://fonts.googleapis.com/css?family=Karla:regular,bold,italic&subset=latin,latin-ext');



body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Karla', helvetica, sans-serif;
}

::selection {
    background: #F29B70;
    color: #fff;
}

.generalContainer {
  width: 80%;
  max-width: 800px;
  margin: auto;
}